body {
  background: #222;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  color: #eee;
}
.header {
  display: flex;
  justify-content: flex-end;
}
.nav {
  margin-top: 0px;
}

.jumbotron p {
  color: black;
}
