<%= if @current_user do %>
  <div>
    <%= link to: auth_path(@conn, :destroy), class: "btn btn-danger" do %>
      Sign out
    <% end %>
  </div>
<% else %>
  <%= link to: auth_path(@conn, :index, "google"), class: "btn btn-primary" do %>
    Sign in with Google
  <% end %>
  <%= link to: auth_path(@conn, :index, "github"), class: "btn btn-primary" do %>
    Sign in with GitHub
  <% end %>
<% end %>
